*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: blue;
color: #556B2F;
}
body{
	background-color: #556B2F;
	color: black;
}
.glyphicon{
	font-size: 30px;
	color:#556B2F; 
}

.center{
	width: 90%;
	background-color: grey;

}
.container
{
	background-color: black;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: #556B2F;
}
.navbar-brand{
font-size: 30px;	
}
